<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Big Data LA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B66AE4B1CF04883002E261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66AE621CF04883002E261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B66AE6D1CF04883002E261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
